# dot files and directories
.git
.gitignore
.vscode
.cache
.resources
.*

# Environments
.env
env/
ENV/

# macOS Files
.DS_Store

# vsCode Files
.vscode/

# Python Virtual Environments
Pipfile*
.venv
venv/

# Incomplete
*⚠*